<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
           
    <context:component-scan base-package="cqsb.sycj.service.impl.*"/>
    <aop:config>  
        <aop:pointcut id="allServiceMethod" expression="execution(* cqsb.sycj.service.impl.*.*(..))"/>  
        <aop:advisor pointcut-ref="allServiceMethod" advice-ref="txAdvice"/>  
    </aop:config>
    <!-- 传播特性，待配置
    <tx:advice id="txAdvice" transaction-manager="transactionManager">  
        <tx:attributes>  
            <tx:method name="fetch*" propagation="REQUIRED" read-only="true"/>  
            <tx:method name="update*" propagation="REQUIRED"/>  
            <tx:method name="modify*" propagation="REQUIRED"/>  
            <tx:method name="*" propagation="REQUIRED"/>  
        </tx:attributes>  
    </tx:advice>
     -->
    <aop:aspectj-autoproxy/>
</beans>